
body{

	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 3.0em;
	font-style: bold;
	color:black;
	background-color: #FFF;
	text-shadow: 3px 3px #AAAAAA;
	padding-right: 25px;
}

ul{

	list-style-type: none;

}


.content-box{

	border-radius: 20px;
	width: 98%;
	height: 10%;
	/*margin-top: 2%;*/
	margin-bottom: 2%;
	line-height: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	/*border-style: solid;*/
	border-color: #222222;
	min-width: 450px;


}

.header-box{

	margin-left: auto;
	margin-right: auto;
	font-size:1.4em;
	

}


.content-box-good{

	border-radius: 20px;
	width: 98%;
	height: 10%;
	margin-top: 3%;

	line-height: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	text-shadow: 2px 2px #AAAAAA;
	background-color: #00CC00;
	/*border-style: solid;*/
	min-width: 450px;


}

.content-box-bad{

	font-size: 0.8em;
	border-radius: 20px;
	width: 98%;
	height: 10%;
	margin-top: 3%;

	line-height: 2em;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	
	text-shadow: 2px 2px #555555;
	background-color: #555555;
	/*border-style: solid; */
	min-width: 450px;
}

.due-time{

	color:#D11;
	text-shadow: 2px 2px #666666;

}


